@mixin boxShadow {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.12);
}

.d-header-icons {
    .d-icon {
        color: var(--primary);
    }
}

//create conversation cards
.topic-body {
    @include boxShadow;
    background-color: var(--material-lighter-secondary);
    margin-top: 10px;
    padding: 20px;
    border-radius: 4px;
}

//more space for avatars
.topic-avatar {
    border-top: 0;
    padding-top: 20px;
    padding-left: 10px;
    .avatar-flair {
        right: 4px;
    }
}

//increase space between post meta and post content
.boxed .contents {
    padding: 20px 0 0 0;
}

//remove stray border from bottom of last post
.topic-status-info {
    border-top: 0;
}

#create-topic.btn-default {
    display: flex;
    align-items: center;
    justify-content: center;
    @include buttonShadow;
    @include buttonTransition;
    padding: 0;
    margin: 0;
    width: 63px;
    height: 63px;
    border-radius: 40px;
    position: fixed;
    bottom: 30px;
    right: 50px;
    z-index: z("composer", "content") - 1;
    background-color: var(--tertiary);
    color: var(--secondary);
    white-space: nowrap;
    overflow: hidden;
    .d-icon {
        margin: 0;
        color: var(--secondary);
    }
    .d-button-label {
        display: inline-block;
        transition: all 0.3s;
        margin: 0 0.25em;
    }
    &:not(:hover):not(:active):not(:focus) {
        .d-button-label {
            opacity: 0;
            width: 0;
            margin: 0;
        }
        .d-icon {
            margin: 0 0.25em;
        }
    }
}

.small-action {
    border: none;
}

#topic-closing-info {
    border: none;
}

//remove lines between cards
.topic-post article {
    border: none;
}

//put shadow on quotes as well
aside.quote {
    @include boxShadow;
}

// RTL Overrides
.rtl {
    .topic-avatar {
        padding-left: initial;
        padding-right: 10px;
        .avatar-flair {
            right: initial;
            left: 4px;
        }
    }
}